.todoList {
  padding: 3rem;
}

.todoListContainer {
  background-color: #fff;
  max-width: 40rem;
  padding: 2rem;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 0px 4px 6px rgba($color: #0000, $alpha: 0.1);
}
